@import '../node_modules/bootstrap/scss/bootstrap';

$turqouise: #04AA6D;
$dark: #013220;

$border-radius: 0.15rem;
$body-color: $dark;

$primary: $dark;


@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap/scss/bootstrap';